header {
    background-color: #ff7a00;
    padding: 1rem 2rem;
    color: ff7a00;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo-link {
    color: white !important; 
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo-link span {
    color: #070707; 
}

.nav-menu {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: #020202;
}


.login-btn {
    color: white !important;
    text-decoration: none;
    background-color: #0c0c0c;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: bold;
    transition: background 0.3s;
}

.login-btn:hover {
    background-color: #68d391;
    color: #ff7a00 !important; 
}