.recom-container {
    padding: 2rem;
    max-width: 1100px;
    margin: 0 auto;
}

.recom-header {
    text-align: center;
    margin-bottom: 3rem;
}

.ia-badge {
    display: inline-block;
    background: linear-gradient(90deg, #030303, #0c0c0c);
    color: rgb(253, 252, 252);
    padding: 0.4rem 1rem;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.recom-grid {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.recom-card {
    background: #ff4d4f;
    border: 1px solid #070707;
    border-left: 6px solid #ff4d4f;
    padding: 1.5rem;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.recom-card:hover {
    box-shadow: 0 4px 15px #ff4d4f;
    transform: translateX(5px);
}

.card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.ticker-label {
    font-size: 1.4rem;
    font-weight: 800;
    color: #f6f6f7;
}

.confidence-tag {
    background: #fcfafa;
    color: #030303;
    padding: 0.2rem 0.8rem;
    border-radius: 4px;
    font-size: 0.85rem;
    font-weight: bold;
}

.reason-text {
    color: #0f0f0f;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.btn-details {
    background: transparent;
    border: 1px solid #ff7a00;
    color: #030303;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.btn-details:hover {
    background: #070707;
    color: white;
}

.ia-disclaimer {
    margin-top: 3rem;
    text-align: center;
    color: #030303;
}